@font-face{
	font-family: IdealGothic;
	font-display: swap;
	src: url("../fonts/IdealGothic-Bold.woff2") format("woff2"), url("../fonts/IdealGothic-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
