body {
	font-family: IdealGothic;
	background-color: black;
	color: white;
	span {
		color: rgb(229, 255, 157);
	}
}

.img {
	background-image: url("../img/cover.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}

.interactive,
.logo {
	width: 100px;
	height: 100px;
}

.interactive {
	fill: rgb(229, 255, 157);
}

.text {
	display: block;
	font-size: 22px;
}
